.main {
  position: relative;

  .border-slive {
    border: solid 1px #e5e6e9;
  }

  p {
    word-break: break-all;
  }

  textarea {
    resize: none;
    color: silver;
    background-color: transparent;
    transition: background 0.3s linear;
  }

  textarea:focus {
    background-color: #000;
    outline: none;
  }

  .btn-black {
    background-color: #666;
    color: white;
    position: relative;
    border: none;
    transition: all 0.3s;

    span {
      position: relative;
      z-index: 1;
    }

    &:before{
      content: " ";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #111;
      transition: all 0.3s;
      border-radius: 4px;
    }
    &:hover{
      color: #FFF;
      &:before{
        content: " ";
        display: inline-block;
        height: 100%;
      }
    }
  }

  .container {
    input {
      color: silver;
      background-color: transparent;
    }

    .publish-div {
      display: flex;
      flex-direction: column;
      align-items: center;

      .publish {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        font-size: 1.5em;
        background-color: #343434;
        opacity: 0.6;
        border: none;

        .publich-name {
          padding: 7px 0;

          label {
            color: silver;
          }

          input {
            border: none;
            background-color: transparent;
            transition: background 0.3s;

            &:focus {
              outline: none;
              background-color: #111;
            }
          }
        }

        textarea{
          width: 100%;
          margin-bottom: 10px;
          border-left: none;
          border-right: none;
          padding: 5px 10px;
        }
      }
    }

    .article-div {
      .masonry {

        .masonry-brick {
          padding: 0.5em;

          .item {
            background-color: white;
            margin-top: 1em;
            min-height: 300px;
            border-radius: 1px;
            display: flex;
            flex-direction: column;
            padding: 0 0.8em 1em 0;
            position: relative;
            box-sizing: border-box;

            .fa-times {
              position: absolute;
              top: 0.4em;
              right: 0.5em;
              cursor: pointer;
            }

            .fa-times:hover {
              color: red;
            }

            .post-name {
              padding: 0 3em;
            }

            .post-body {
              font-size: 1.2em;
              padding: 0 2em;
            }

            .more {
              display: flex;
              justify-content: flex-end;
              margin-top: auto;

              .fb-like {
                margin-right: auto;
              }

              .time {
                margin-right: auto;
                padding-left: 2em;
              }
            }
          }
        }
      }
    }
  }

  .back-black {
    background-color: black;
    opacity: 0.5;
    width: 200vw;
    height: 200vh;
    position: fixed;
    top:-100px;
    left: -100px;
    z-index: 100;
  }

  .info-modal {
    width: 60vw;
    max-height: 80vh;
    overflow: scroll;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
    padding: 1em 1.5em;
    border-radius: 1px;
    box-shadow: 3px 3px 10px 1px;

    .fa-times {
      position: absolute;
      right: 0.9em;
      top: 0.5em;
      cursor: pointer;
    }

    .fa-times:hover {
      color: red;
    }

    .post-name{
      padding-left: 3em;
    }

    .post-body {
      font-size: 1.5em;
      padding: 0 2em;
    }

    .add-comment {
      font-size: 1.2em;
      border-left: none;
      border-right: none;
      padding: 7px 3px;

      input {
        border-radius: 5px;
        margin-right: 0.5em;
      }

      textarea {
        margin-right: 0.5em;
        background-color: white;
        color: #111;
      }

      textarea:focus {
        background-color: #DDD;
      }
    }

    .all-comments {
      font-size: 1.2em;

      .comment-item {
        border-left: none;
        border-right: none;
        border-top: none;
        display: flex;
        align-items: center;
        position: relative;


        label {
          margin-top: 5px;
          word-wrap: break-word;
        }

        label:nth-child(2) {
          font-weight: inherit;
          padding-left: 1em;
          word-break: break-all;
        }

        .fa-times {
          position: relative;
          cursor: pointer;
        }

        .fa-times:hover {
         color: red;
        }
      }
    }
  }
}

@media screen and (min-width: 961px) {
  .main {
    .publish-div {
      padding: 0;
    }
  }
}

@media screen and (max-width: 960px) and (min-width: 415px) {
  .main {
    .container {
      .article-div {
        .masonry-brick {

        }
      }
    }

    .info-modal {
      width: 70vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .publish-div {
      padding: 0.5em;
    }
    .info-modal {
      .add-comment {
        textarea {
          margin: 0.5em 0;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .main {
    .container {
      .article-div {
        .masonry-brick {
          margin: 1em 0 0 0 ;
          min-width: 250px
        }
      }
    }

    .info-modal {
      width: 85vw;
    }
  }
}


