<div class="main">
  <div class="container">
    <div class="row publish-div">
      <div class="publish col-xs-11 col-md-8 border-slive">
        <div class="publich-name">
          <label for="name-input">稱呼：</label>
          <input type="text" id="name-input" placeholder="我是誰？(預設匿名)" ng-model="$ctrl.name">
        </div>
        <textarea name="" id=""  rows="5" class="border-slive" placeholder="我想說些話!!" ng-model="$ctrl.body"></textarea>
        <button class="btn btn-primary" ng-click="$ctrl.publish()">發布</button>
      </div>
    </div>

    <div class="row article-div">
      <div masonry class="masonry">
        <div class="masonry-brick col-xs-12 col-sm-6 col-md-4" ng-repeat="post in $ctrl.posts">
          <div class="item border-slive">
            <i class="fa fa-times fa-2x" aria-hidden="true" ng-click="$ctrl.deletePost(post.id)" ng-if="$ctrl.localStorageService.get('api_token')"></i>
            <div class="post-name">
              <h3>{{post.name}}</h3>
            </div>
            <div class="post-body">
              <p>{{post.body}}</p>
            </div>
            <div class="more">
              <div class="time">
                <label>{{post.created_at | dateOnly}}</label>
              </div>
              <button class="btn btn-info" ng-click="$ctrl.showPostModal(post.id)">更多及評論</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="back-black" ng-if="$ctrl.showModal" ng-click="$ctrl.showModal = 0"></div>
  <div class="info-modal border-slive" ng-if="$ctrl.showModal">
    <div class="post-name">
      <h2>{{$ctrl.postDetail.name}}</h2>
    </div>
    <div class="post-body">
      <p>{{$ctrl.postDetail.body}}</p>
    </div>
    <div class="add-comment border-slive">
      <input type="text" placeholder="匿名" class="border-slive col-sm-2 col-xs-4" ng-model="$ctrl.commentName">
      <textarea  rows="1" class="border-slive col-sm-8 col-xs-12" ng-model="$ctrl.commentBody"></textarea>
      <button class="btn btn-success" ng-click="$ctrl.addComment($ctrl.postDetail.id)">送出</button>
    </div>
    <div class="all-comments">
      <div class="comment-item border-slive" ng-repeat="comment in $ctrl.postDetail.comments">
        <label class="col-xs-2">{{comment.name}}</label>
        <label class="col-xs-9">{{comment.body}}</label>
        <i class="fa fa-times col-xs-1" aria-hidden="true" ng-click="$ctrl.deleteComment(comment.id, comment.post_id)" ng-if="$ctrl.localStorageService.get('api_token')"></i>
      </div>
    </div>
  </div>

</div>

