<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button ng-class="nav.hamburgerClass" type="button" ng-click="nav.clickHamburger()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">酒店小姐辛酸血淚史</a>
    </div>
    <div ng-class="nav.navClass" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active" class="nav-item">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li  class="nav-item" ng-if="!nav.localStorageService.get('api_token')">
          <a ui-sref="login" >登入</a>
        </li>
        <li class="nav-item" ng-if="nav.localStorageService.get('api_token')">
          <a ui-sref="main"  ng-click="nav.logout()">登出</a>
        </li>
      </ul>
    </div>

    <div class="black-back" ng-if="nav.isCollapsed"></div>
  </div>
</div>
