$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-image: url("../assets/images/black_linen_v2_@2X.png");
}

.navbar {
  border:none;
  border-bottom: 1px solid #000;
  background-color: #111;
  opacity: 0.8;



  .container {
    .navbar-header {
      background-color: transparent;
      border: none;

      .navbar-brand{
        color: white;
      }

      .navbar-toggle {
        z-index: 30;
      }
    }

    #navbar-main {
      .navbar-nav {

        .nav-item {
          a{
            color: silver;
          }

          &:hover {
            a{
              color: white;
            }
          }
        }
      }
    }

    .nav-collapse {
      display: flex;
    }

  }
}

@media screen and (max-width: 767px) {
  .navbar {
    .container {
      .navbar-header {
        background-color: #111;
      }

      .nav-hamburger {
        position: relative;
        border: 1px solid transparent;

        .icon-bar {
          transition:  0.5s;
          background-color: white;
        }

        .icon-bar:nth-child(3) {
          position: absolute;
          top:33.34%;
          left:10px;
        }

      }
      .nav-hamburger:hover {
        background-color: transparent;
      }
      .nav-hamburger:active {
        background-color: transparent;
      }

      .nav-hamburger-active {
        background-color: transparent;

        .icon-bar:nth-child(1) {
          width: 0;
        }

        .icon-bar:nth-child(2) {
          transform: rotate(-45deg);
        }

        .icon-bar:nth-child(3) {
          transform: rotate(45deg);
        }

        .icon-bar:nth-child(4) {
          width: 0;
        }

      }

      .nav-hamburger-active:hover {
        background-color: transparent;
      }

      .nav-collapse {
        position: fixed;
        right: -30vw;
        transition: 0.5s ease-out;
        z-index: 30;
        opacity: 0;

        .navbar-nav {
          width: 0;
          margin: 0;

          .nav-item {
            padding: 20px;
            margin: 0 50px;
            border-bottom: 1px solid #666;

            a {
              color: white;
              display: flex;
              justify-content: center;
              padding: 0;
              background: none;
            }
          }

          .nav-item:last-child {
            border-bottom: none;
          }
        }
      }

      .nav-collapse-appear {
        right: 0;
        opacity: 1;

        .navbar-nav {
          width: 100vw;
        }
      }

      .black-back {
        width: 200vw;
        height: 200vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.9);
        z-index: 20;
        -webkit-filter: blur(10px);
      }
    }
  }
}

// Component styles are injected through grunt
/* inject:scss */
@import 'login/login';
@import 'main/main';
@import 'regist/regist';
@import '../components/footer/footer';
/* endinject */
